# Generate with: openssl rand -hex 32
NEXTAUTH_SECRET=REPLACE_ME
SALT=REPLACE_ME
ENCRYPTION_KEY=REPLACE_ME
NEXTAUTH_URL=http://localhost:8080/langfuse
DATABASE_URL=postgresql://langfuse:langfuse@lf-postgres:5432/langfuse
CLICKHOUSE_URL=http://lf-clickhouse:8123
CLICKHOUSE_USER=langfuse
CLICKHOUSE_PASSWORD=langfuse
REDIS_URL=redis://lf-redis:6379
LANGFUSE_BASIC_AUTH=REPLACE_ME_BASE64
